<div ng-if="!currentAcc">Account not found</div>

<div ng-if="currentAcc">
  <h1>Account report: {{ currentAcc.title }}</h1>
  <form class="form-inline">
    <datepicker date-format="yyyy-MM-dd" >
      <input class="form-control" ng-model="dateFrom" placeholder="From date" />
    </datepicker>
    <datepicker date-format="yyyy-MM-dd" >
      <input class="form-control" ng-model="dateTo" placeholder="To date" />
    </datepicker>
    <button class="btn btn-primary" ng-disabled="!dateFrom || !dateTo" ng-click="generate()">Generate report</button>
  </form>
  <div ng-if="!report">
    Please select dates to see stats
  </div>
  <div ng-if="report">
    <div><strong>Average spent per day:</strong> {{ report.average_spending_per_day | currency : '$' : 2 }}</div>
    <div><strong>Total spent:</strong> {{ report.total_spent | currency : '$' : 2 }}</div>
    <div><strong>Total received:</strong> {{ report.total_received | currency : '$' : 2 }}</div>
    <div ng-if="report.transactions.length">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Comment</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr class="transaction" ng-repeat="t in report.transactions" ng-class="{expense: t.sender.id == currentAcc.id, income: t.sender.id != currentAcc.id}">
            <td>{{t.time | date:'yyyy-MM-dd'}}</td>
            <td>{{t.sender.title}}</td>
            <td>{{t.receiver.title}}</td>
            <td class="comment">{{t.comment}}</td>
            <td>{{t.amount | currency : '$' : 2}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-if="!report.transactions.length">
      Not transactions for this period
    </div>
  </div>
</div>
