<div ng-if="!currentAcc">Account not found</div>

<div ng-if="currentAcc">
  <h3>{{currentAcc.title}}</h3>
  <h5>Current balance: {{currentAcc.balance | currency : '$' : 2}}</h5>
  <h4>Transactions</h4>
  <a ui-sref="user.accounts.report({id: currentAcc.id})">Generate report</a>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Comment</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr class="transaction" ng-repeat="t in transactions" ng-class="{expense: t.sender.id == currentAcc.id, income: t.sender.id != currentAcc.id}">
      <td>{{t.time | date:'yyyy-MM-dd HH:mm'}}</td>
      <td>{{t.sender.title}}</td>
      <td>{{t.receiver.title}}</td>
      <td class="comment">{{t.comment}}</td>
      <td>{{t.amount | currency : '$' : 2}}</td>
      <td><a title="Delete transaction" ng-click="deleteTransaction(t.id)"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    </tbody>
  </table>

  <bgf-pagination
          page="page"
          per-page="perPage"
          client-limit="clientLimit"
          url="url"
          headers="authHeaders"
          link-group-size="2"
          collection="transactions">
  </bgf-pagination>
</div>