<div class="panel panel-default">
  <div class="panel-heading">
    <span>Hello, {{user.name}}</span>
    <button class="btn btn-primary" ng-click="signOut()">Sign out</button>
    <a ng-if="user.admin" ui-sref="users">Administration</a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="accs-title">Your Accounts</h1>
        <form ng-valid class="form-inline" ng-submit="createAcc()">
          <input ng-valid class="form-control" ng-model="newAccTitle" placeholder="New account" required />
          <button class="btn btn-default" type="submit">Create</button>
        </form>
        <ul class="accounts">
          <li ng-repeat="acc in accounts" class="row account">
            <div class="col-sm-6">
              <a ui-sref="user.accounts.single({id: acc.id})">{{acc.title}}</a>
            </div>
            <div class="col-sm-3">
              {{acc.balance | currency : '$' : 2}}
            </div>
            <div class="col-sm-3">
              <a class="delete" title="Delete account" ng-click="deleteAcc(acc.id)"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="panel panel-success" id="forms">
          <div class="panel-body">
            <ul class="nav nav-tabs">
              <li ng-class="{active: (selected == 'expense')}"><a ng-click="selected='expense'" role="tab">Expense</a></li>
              <li ng-class="{active: (selected == 'income')}"><a ng-click="selected='income'" role="tab">Income</a></li>
              <li ng-class="{active: (selected == 'transfer')}"><a ng-click="selected='transfer'" role="tab">Transfer</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane" ng-class="{active: (selected == 'expense')}">
                <form ng-valid class="form-inline" ng-submit="addExpense()">
                  <h2 class="form-header">{{ editType == 'expense' ? 'Edit Expense' : 'Add Expense'}}</h2>
                  <datepicker date-format="yyyy-MM-dd" >
                    <input ng-readonly="true" class="form-control" ng-model="expenseDate" placeholder="Date (empty for current)" />
                  </datepicker>
                  <select class="form-control" ng-options="acc.id as acc.title for acc in accounts" ng-model="expenseAccId" required>
                    <option value="">Select account</option>
                  </select>
                  <input ng-model="expenseComment" required class="form-control" placeholder="Comment"/>
                  <input ng-model="expenseAmount" required class="form-control amount" placeholder="Amount" />
                  <button ng-if="editType != 'expense'" class="btn btn-success" type="submit">Add</button>
                  <button ng-if="editType == 'expense'" class="btn btn-primary" type="submit">Update</button>
                  <button ng-if="editType == 'expense'" class="btn btn-danger" ng-click="resetForms()">Cancel</button>
                </form>
              </div>
              <div class="tab-pane" ng-class="{active: (selected == 'income')}">
                <form ng-valid class="form-inline" ng-submit="addIncome()">
                  <h2 class="form-header">{{ editType == 'income' ? 'Edit Income' : 'Add Income'}}</h2>
                  <datepicker date-format="yyyy-MM-dd" >
                    <input ng-readonly="true" class="form-control" ng-model="incomeDate" placeholder="Date (empty for current)" />
                  </datepicker>
                  <select class="form-control" ng-options="acc.id as acc.title for acc in accounts" ng-model="incomeAccId" required>
                    <option value="">Select account</option>
                  </select>
                  <input class="form-control" ng-model="incomeComment" required placeholder="Comment"/>
                  <input class="form-control amount" ng-model="incomeAmount" required placeholder="Amount" />
                  <button ng-if="editType != 'income'" class="btn btn-success" type="submit">Add</button>
                  <button ng-if="editType == 'income'" class="btn btn-primary" type="submit">Update</button>
                  <button ng-if="editType == 'income'" class="btn btn-danger" ng-click="resetForms()">Cancel</button>
                </form>
              </div>
              <div class="tab-pane" ng-class="{active: (selected == 'transfer')}">
                <form ng-valid class="form-inline" ng-submit="addTransfer()">
                  <h2 class="form-header">{{ editType == 'transfer' ? 'Edit Transfer' : 'Add Transfer'}}</h2>
                  <datepicker date-format="yyyy-MM-dd" >
                    <input ng-readonly="true" class="form-control" ng-model="transferDate" placeholder="Date (empty for current)" />
                  </datepicker>
                  <select class="form-control" ng-options="acc.id as acc.title for acc in accounts" ng-model="transferFromId" required>
                    <option value="">From account</option>
                  </select>
                  <select class="form-control" ng-options="acc.id as acc.title for acc in accounts" ng-model="transferToId" required>
                    <option value="">To account</option>
                  </select>
                  <input class="form-control" ng-model="transferComment" required placeholder="Comment"/>
                  <input class="form-control amount" ng-model="transferAmount" required placeholder="Amount" />
                  <button ng-if="editType != 'transfer'" class="btn btn-success" type="submit">Add</button>
                  <button ng-if="editType == 'transfer'" class="btn btn-primary" type="submit">Update</button>
                  <button ng-if="editType == 'transfer'" class="btn btn-danger" ng-click="resetForms()">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div ui-view>
          Select account to see transactions
        </div>
      </div>
    </div>
  </div>
</div>